@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 60vh;
}

h1,
h2,
h3 {
  color: #e25089;
}
a {
  color: darksalmon;
}
ul {
  list-style-type: "- ";
}
p:hover::after,
h1:hover::after,
h2:hover::after,
h3:hover::after,
li:hover::after {
  content: " ¶";
}

.markdown {
  color: silver;
  font-size: xx-small;
}
